**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.auto.tfvars
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
backend.hcl
.terraform.lock.hcl
hosts
rootCA.crt
rootCA.key
rootCA.pem
rootCA.srl
local/