datacenter = "dc1"
data_dir   = "/var/nomad/data"
plugin_dir = "/var/nomad/data/plugins"

acl {
  enabled = true
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

plugin "nomad-driver-podman" {
  config {
    volumes {
      enabled      = true
    }
  }
}

plugin "docker" {
  config {
    allow_privileged = true
    volumes {
      # required for bind mounting host directories
      enabled = true
    }
  }
}