[Unit]
Description=Vault Unseal Checker
After=network.target vault.service

[Service]
ExecStart=/usr/local/bin/vault_unseal_checker.sh
Restart=always
User=vault
Group=vault

[Install]
WantedBy=multi-user.target