job "traefik" {
  datacenters = ["dc1"]
  type        = "service"

  group "traefik" {
    count = 1

    network {
      mode = "host"

      port "web" {
        to = 80
        static = 80
      }

      port "api" {
        to = 8081
        static = 8081
      }
    }

    service {
      name = "traefik"
      provider = "nomad"

      tags = [
        "traefik.enable=false",
      ]

      check {
        name     = "alive"
        type     = "tcp"
        port     = "web"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "traefik" {
      driver = "docker"

      config {
        image        = "traefik:latest"
        network_mode = "host"

        volumes = [
          "local/traefik.toml:/etc/traefik/traefik.toml",
        ]
      }

      template {
        data = <<EOF
[entryPoints]
    [entryPoints.web]
      address = ":80"

    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"

    [entryPoints.websecure]
      address = ":443"
      asDefault = true

    [entryPoints.websecure.http.tls]
      certresolver = "my-resolver"

    [[entryPoints.websecure.http.tls.domains]]
      main = "vm01.luene.org"
      sans = ["adguard.vm01.luene.org"]
     
    [entryPoints.traefik]
    address = ":8081"

[api]
    dashboard = true
    insecure  = true

[providers.nomad]
    [providers.nomad.endpoint]
      address = "http://127.0.0.1:4646"
      token = "${token}"

[certificatesResolvers.my-resolver.acme]
  email = "test@example.com"
  storage = "local/acme.json"
  caServer = "http://192.168.178.91:8200/v1/pki_int/acme/directory"
  [certificatesResolvers.my-resolver.acme.httpChallenge]
    entryPoint = "websecure"

EOF

        destination = "local/traefik.toml"
      }

      resources {
        cpu    = 100
        memory = 128
      }
    }
  }
}