job "traefik" {
  datacenters = ["dc1"]
  type        = "service"

  group "traefik" {
    count = 1

    network {
      mode = "host"

      port "web" {
        to = 80
        static = 80
      }

      port "api" {
        to = 8081
        static = 8081
      }
    }

    service {
      name = "traefik"
      provider = "nomad"
      address_mode = "host"

      tags = [
        "traefik.enable=false",
      ]

      check {
        name     = "alive"
        type     = "tcp"
        port     = "web"
        interval = "10s"
        timeout  = "2s"
      }
    }

    task "traefik" {
      driver = "podman"

      env {
        SSL_CERT_FILE = "/etc/ssl/ca-luene-org.crt"
      }

      config {
        privileged   = true
        image        = "docker.io/traefik:latest"
        network_mode = "host"

        volumes = [
          "local/traefik.toml:/etc/traefik/traefik.toml",
          "local/ca-luene-org.crt:/etc/ssl/ca-luene-org.crt:ro",
        ]
      }

      template {
        data = <<EOF
[entryPoints]
    [entryPoints.web]
      address = ":80"

    [entryPoints.web.http.redirections.entryPoint]
      to = "websecure"
      scheme = "https"

    [entryPoints.websecure]
      address = ":443"
      asDefault = true

    [entryPoints.websecure.http.tls]
      certresolver = "my-resolver"

    [[entryPoints.websecure.http.tls.domains]]
      main = "${acme_main}"
      sans = ${acme_sans}
     
    [entryPoints.traefik]
    address = ":8081"

[api]
    dashboard = true
    insecure  = true

[providers.nomad]
    [providers.nomad.endpoint]
      address = "http://127.0.0.1:4646"
      token = "${token}"

[certificatesResolvers.my-resolver.acme]
  email = "test@example.com"
  storage = "local/acme.json"
  caServer = "${acme_dir}"
  [certificatesResolvers.my-resolver.acme.httpChallenge]
    entryPoint = "websecure"

EOF

        destination = "local/traefik.toml"
      }

      template {
       data = <<EOH
${ca}
EOH

       destination = "local/ca-luene-org.crt"
       change_mode = "noop"
     }

      resources {
        cpu    = 100
        memory = 128
      }
    }
  }
}