---
- name: configure docker volumes
  hosts: all
  serial: 1
  become: true

  tasks:

  - name: install nfs packages
    yum:
      name:
        - cifs-utils
        - nfs-utils
      state: present

  - name: mount an nfs volume for services
    ansible.posix.mount:
      src: "{{ NFS_SOURCE }}:/volume1/dienste"
      path: /mnt/nas
      opts: rw,sync,hard
      state: mounted
      fstype: nfs

  - name: set permissions on the mount point
    ansible.builtin.file:
      path: /mnt/nas
      state: directory
      owner: root
      group: root
      mode: 0775

  - name: set file permissions for nomad
    when: "'nomad' in group_names"
    file:
      path: "{{ item }}"
      state: directory
      recurse: yes
      owner: root
      group: root
      mode: 0775
    loop:
      - /mnt/nas/adguard/conf
      - /mnt/nas/adguard/work
      - /mnt/nas/paperless/data
      - /mnt/nas/paperless/media
      - /mnt/nas/paperless/export
      - /mnt/nas/paperless/db
      - /mnt/nas/ente
      - /mnt/nas/karakeep/meilisearch
      - /mnt/nas/karakeep/data

  - name: set file permissions for n8n
    when: "'nomad' in group_names"
    file:
      path: "{{ item }}"
      state: directory
      recurse: yes
      owner: 1000
      group: 1000
      mode: 0777
    loop:
      - /mnt/nas/n8n/data

  - name:  set file permissions for vault
    when: "'vault' in group_names"
    file:
      path: "{{ item }}"
      state: directory
      recurse: yes
      owner: vault
      group: vault
      mode: 0775
    loop:
      - /mnt/nas/vault

  - name: mount an nfs volume for photos
    when: "'nomad' in group_names"
    ansible.posix.mount:
      src: "{{ NFS_SOURCE }}:/volume1/photo"
      path: /mnt/photo
      opts: rw,sync,hard
      state: mounted
      fstype: nfs

  - name: set permissions on the mount point
    when: "'nomad' in group_names"
    ansible.builtin.file:
      path: /mnt/photo
      state: directory
      owner: root
      group: root
      mode: 0775

  - name: set file permissions for photos
    when: "'nomad' in group_names"
    file:
      path: "{{ item }}"
      state: directory
      recurse: yes
      owner: root
      group: root
      mode: 0775
    loop:
      - /mnt/photo/ente